@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    --padding-container: 2rem;

    .grid-item-container {
        height: 100%;
        width: 100%;
        padding: 2rem;
    }

    .clock-face-container {
        padding: var(--padding-container);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin:.5rem;
    }

    .clock-face-label {

    }
}
