@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    --nav-height: 7rem;

    .main-container {

    }


    #homepage-card {
        width: 20rem;
        height: auto;

    }

    .card-section {

    }

    .grid-item-container {
        height: 100%;
        width: 100%;
        padding: 2rem;
    }

    .clock-face-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem;
    }
}
